/* overall page styling */
body {
	background-image: url(assets/Hockey\ rink-darker\ background.jpg);
	background-attachment: fixed;
	background-size: auto;
}

/* navbar */
a {
	color: rgb(185, 31, 31);
	font-weight: bolder;
}
.navbar {
	background-color: rgba(143, 206, 228, .5);
}
li {
	margin-left: 25px;
	margin-right: 25px;
}
.navLinks {
	color:black;
	margin-top: 15px;
	margin-left: 650px;
	font-weight: bolder;
}

/* past five games */
h2 {
	color: rgb(185, 31, 31) ;
	padding-left: 15px;
	background-color: snow;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;
}
#fiveGame {
	float: right;
}
.fiveGame {
	height: 170px;
	width: 600px;
	padding: 10px;
	padding-left: 40px;
	text-align: center;
	background-color: rgb(143, 206, 228);
	color: snow;
	border: solid 5px black;
	margin-bottom: 5px;
	border-radius: 15%;
}