/* overall page styling */
body {
	background-image: url(assets/Hockey\ rink-darker\ background.jpg);
	background-attachment: fixed;
	background-size: auto;
}

/* navbar */
a {
	color: rgb(144, 30, 30);
	font-weight: bolder;
}
.navbar {
	background-color: rgba(143, 206, 228, .5);
}
li {
	margin-left: 25px;
	margin-right: 25px;
}
.navLinks {
	color:black;
	margin-top: 15px;
	margin-left: 400px;
	font-weight: bolder;
}

/* past five games */
h2 {
	color: rgb(144, 30, 30);
	padding-left: 15px;
	background-color: rgba(251, 248, 248, .5);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;
	border-radius: 20%;
}
#fiveGame {
	float: right;
}
.fiveGame {
	height: 170px;
	width: 600px;
	padding: 10px;
	padding-left: 40px;
	text-align: center;
	background-color: rgba(143, 206, 228, .5);
	border: solid 5px black;
	margin-bottom: 5px;
	border-radius: 15%;
}

/* media queries */
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}