/* overall page styling */
body {
	background-image: url(Hockey\ rink-darker\ background.jpg);
	background-attachment: fixed;
	background-size: auto;
}
.container {
	float: left;
}

/* navbar */
a {
	color: rgb(144, 30, 30);
	font-weight: bolder;
}
.navbar {
	background-color: rgba(143, 206, 228, .6);
	max-height: fit-content;
}
li {
	margin-left: 25px;
	margin-right: 25px;
}
.navLinks {
	color:black;
	margin-top: 15px;
	margin-left: 250px;
	font-weight: bolder;
}

/* dropdown menu */
.teamBtn {
	margin-top: 5px;
	margin-left: 50px;
	height: 40px;
	width: 150px;
	background-color: whitesmoke;
	font-size: large;
	font-weight: 900;
	border: solid 2px rgba(143, 206, 228, .6);
}
.dropdown-menu {
	margin-left: 20px;
	display: none;
	position: absolute;
	background-color: whitesmoke;
	min-width: 160px;
	box-shadow: 3px 8px 12px 8px rgba(143, 206, 228, 0.8);
	z-index: 1;
	border: solid 1px black;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.force-scroll {
	overflow-y: scroll;
	height: 250px;
}
/* color of dropdown links on hover */
.dropdown-menu a:hover {background-color: rgba(144,30,30,0.5);}
/* dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}
/* background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .teamBtn {background-color: rgb(144, 30, 30);}

/* current date display */
.date {
	float: right;
	margin-right: 375px;
	margin-top: 12px;
	text-align: center;
	color: black;
	background-color: rgba(253, 251, 251, .7);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700;
	border-radius: 20%;
	width: 275px;
}
/* home/away team stylings */
.homeTeamMain{
	color: rgba(7, 7, 251, 0.6);
	float: center;
	font-size: 125px;
}
.homeScoreMain{

	color:  rgba(7, 7, 251, 0.6);
	float: center;
	font-size: 100px;
}
.awayTeamMain{
	color: rgba(252, 11, 11, 0.6);
	float: center;
	font-size: 125px;
}
.awayScoreMain{
	color: rgba(252, 11, 11, 0.6);
	float: center;
	font-size: 100px;
}
.homeTeam{
	color:  rgba(7, 7, 251, 0.6);
	float: center;
	font-weight: 900;
}
.homeScore{
	color:  rgba(7, 7, 251, 0.6);
	float: center;
	font-weight: 900;
}
.awayTeam{
	color: rgba(252, 11, 11, 0.6);
	float: center;
	font-weight: 900;
}
.awayScore{
	color: rgba(252, 11, 11, 0.6);
	float: center;
	font-weight: 900;
}
/* left hand divs */
h1 {
	text-align: center;
	color: rgb(144, 30, 30);
	background-color: rgba(253, 251, 251, .7);
	margin-top: 5px;
	margin-left: 200px;
	margin-right: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700;
	border-radius: 20%;
}
.favTeam {
	margin-left: 50px;
	float: left;
	height: 800px;
	width: auto;
	padding: 10px;
	text-align: center;
	background-color: rgba(143, 206, 228, .6);
	border: solid 5px black;
	margin-bottom: 5px;
	border-radius: 15%;
}
/* ended up shelfing this second endpoint */
/* .teamHis {
	text-align: center;
	margin-left: 325px;
}
.teamHistory {
	margin-left: 50px;
	float: left;
	height: 450px;
	padding: 10px;
	text-align: center;
	background-color: rgba(143, 206, 228, .6);
	border: solid 5px black;
	margin-bottom: 5px;
	border-radius: 15%;
} */

/* past five games */
h2 {
	color: rgb(144, 30, 30);
	padding-left: 15px;
	background-color: rgba(253, 251, 251, .7);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;
	border-radius: 20%;
	margin-top: 5px;
}
#fiveGame {
	float: right;
	margin-right: 50px;
}
.fiveGame {
	height: 170px;
	width: 600px;
	padding: 10px;
	text-align: center;
	background-color: rgba(143, 206, 228, .6);
	border: solid 5px black;
	margin-bottom: 5px;
	border-radius: 15%;
}

/* media queries */
@media screen and (max-width: 1789px) {
	/* aside */
	#fiveGame {
		margin-right: 600px;
	}
}
@media screen and (max-width: 1500px) {
	/* aside */
	#fiveGame {
		margin-right: 400px;
	}
}
@media screen and (max-width: 1224px) {
	/* navbar */
	.navLinks {
		margin-left: 50px;
	}
	/* aside */
	#fiveGame {
		margin-right: 200px;
	}
}

@media screen and (max-width: 992px) {
	/* navbar */
	li {
		margin-left: 0px;
		margin-right: 0px;
	}
	.navLinks {
		margin-left: 0px;
	}
	/* date display */
	.date {
		margin-right: 150px;
	}
	/* aside */
	#fiveGame {
		margin-right: 75px;
	}
}

@media screen and (max-width: 768px) {
	/* navbar */
	a {
		font-weight: 400;
	}
	.navLinks {
		font-weight: 400;
	}
	/* date display */
	.date {
		margin-right: 0px;
		width: 200px;
	}
	/* fave team div */
	h1 {
		margin-left: 100px;
		margin-right: auto;
		font-weight: 500;
	}
	.favTeam {
		margin-left: 10px;
		width: auto;
		min-width: 480px;
		height: 500px;
	}
	.homeTeamMain{
		font-size: 50px;
	}
	.homeScoreMain{
		font-size: 40px;
	}
	.awayTeamMain{

		font-size: 50px;
	}
	.awayScoreMain{

		font-size: 40px;
	}
	/* aside */
	h2 {
		font-weight: 500;
	}
	#fiveGame {
		margin-right: 10px;
	}
	.fiveGame {
		width: auto;
	}
}

@media screen and (max-width: 480px) {
	/* date display */
	.date {
		width: auto;
	}
	/* team dropdown select */
	.teamBtn {
		margin-left: 0px;
		width: 130px;
	}
	.dropdown-menu {
		margin-left: 0px;
	}
}